/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --dark-color: #141414;
  --dark-color-light: #8A8A8A;
  --dark-color-lighten: #F2F2F2;
  --white-color: #FFF;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 1.25rem;
  --bigger-font-size: 1.5rem;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .813rem;
}

/* Responsive typography */
@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 1.5rem;
    --bigger-font-size: 2rem;
    --biggest-font-size: 3rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
*,::before,::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: .4rem;
  height: 4rem;
}

html::-webkit-scrollbar-track {
  background: hsl(30, 6%, 70%);
}

html::-webkit-scrollbar-thumb {
  background: hsl(31, 10%, 38%);
  border-radius: 5rem;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  margin: var(--header-height) 0 0 0;
  font-weight: 500;
  color: var(--dark-color);
  line-height: 1.6;
}

h1,h2,h3,p,ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 5rem 0 2rem;
}

.section-title {
  position: relative;
  font-size: var(--big-font-size);
  margin-bottom: 4rem;
  text-align: center;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.section-title::after {
  content: '';
  position: absolute;
  width: 56px;
  height: .18rem;
  top: -1rem;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--dark-color);
}

/*======== LAYOUT ========*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin: 0 1rem;
}

/*=============== HEADER & NAV ===============*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--dark-color-lighten);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width:768px) {
  .nav-menu {
    position: fixed;
    top: var(--header-height);
    left: -100%;
    width: 70%;
    height: 100vh;
    padding: 2rem;
    background-color: var(--white-color);
    transition: .5s;
  }
}

.nav-item {
  margin-bottom: 2rem;
}

.nav-logo {
  font-weight: 600;
}

.nav-toggle, .nav-shop {
  font-size: 1.3rem;
  cursor: pointer;
}

/*Show menu*/
.show-menu {
  left: 0;
}

/*Active Link*/
.active-link {
  position: relative;
}

.active-link::before {
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 45%;
  width: 4px;
  height: 4px;
  background-color: var(--dark-color);
  border-radius: 50%;
}

/*Change color header*/
.scroll-header {
  background-color: var(--white-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

/*=============== HOME ===============*/
.home {
  background-color: var(--dark-color-lighten);
  overflow: hidden;
}

.home-container {
  height: calc(100vh - var(--header-height));
}

.home-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
}

.home-shape {
  width: 220px;
  height: 220px;
  background-color: var(--dark-color);
  border-radius: 50%;
}

.home-img {
  position: relative;
  bottom: 5.2rem;
  right: 22%;
  max-width: initial;
  width: 275px;
  transform: rotate(-30deg);
}

.home-new {
  display: block;
  font-size: var(--smaller-font-size);
  font-weight: 600;
  margin-bottom: 1rem;
}

.home-title {
  font-size: var(--bigger-font-size);
  margin-bottom: .5rem;
}

.home-description {
  margin-bottom: 3rem;
}

/*BUTTONS*/
.button {
  display: inline-block;
  color: var(--white-color);
  background-color: var(--dark-color);
  padding: 1.125rem 2rem;
  font-weight: 500;
  border-radius: .5rem;
  transition: .3s;
}

.button:hover {
  transform: translateY(-.25rem);
}

.sneaker-button {
  display: inline-flex;
  color: var(--dark-color);
  font-weight: 700;
  align-items: center;
}

.button-icon {
  font-size: 1.25rem;
  margin-left: .5rem;
  transition: .3s;
}

.sneaker-button:hover .button-icon {
  transform: translateX(.25rem);
}

/*=============== FEATURED ===============*/
.featured-container {
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.sneaker {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: var(--dark-color-lighten);
  border-radius: .5rem;
  transition: .3s;
}

.sneaker-sale {
  position: absolute;
  left: 0;
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: .25rem .50rem;
  border-radius: .25rem;
  font-size: var(--normal-font-size);
  transform: rotate(-90deg);
  letter-spacing: .1rem;
}

.sneaker-img {
  width: 220px;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  transform: rotate(-30deg);
  filter: drop-shadow(0 12px 8px rgba(0, 0, 0, .2));
}

.sneaker-name,
.sneaker-price {
  font-size: var(--h2-font-size);
  letter-spacing: .1rem;
  font-weight: 700;
}

.sneaker-name {
  margin-bottom: .5rem;
  text-align: center;
}

.sneaker-price {
  margin-bottom: 2rem;
}

.sneaker:hover {
  transform: translateY(-.5rem);
}

.sneaker-pages {
  margin-top: 3rem;
}

.sneaker-page {
  padding: .5rem 1rem;
  border: 1px solid var(--dark-color);
}

.sneaker-page:hover {
  color: var(--white-color);
  background-color: var(--dark-color);
}

/*=============== COLLECTION ===============*/
.collection-container {
  row-gap: 2rem;
  justify-content: center;
}

.collection-content {
  position: relative;
  display: flex;
  height: 328px;
  background-color: var(--dark-color-lighten);
  padding: 2rem;
  border-radius: .5rem;
  transition: .3s;
}

.collection-data {
  align-self: flex-end;
}

.collection-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 230px;
}

.collection-title {
  font-size: var(--bigger-font-size);
  margin-bottom: .25rem;
}

.collection-description {
  margin-bottom: 1rem;
}

.collection-content:hover {
  transform: translateY(-.5rem);
}

/*=============== WOMEN SNEAKERS ===============*/
.women-container {
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

/*=============== OFFER ===============*/
.offer-container {
  grid-template-columns: 55% 45%;
  column-gap: 0;
  background-color: var(--dark-color-lighten);
  border-radius: .5rem;
  justify-content: center;
}

.offer-data {
  padding: 4rem 0 4rem 1.5rem;
}

.offer-title {
  font-size: var(--biggest-font-size);
  margin-bottom: .25rem;
}

.offer-description {
  margin-bottom: 1.5rem;
}

.offer-img {
  position: absolute;
  width: 153px;
  right: 1rem;
}

/*=============== NEW COLLECTION ===============*/
.new-container {
  row-gap: 2rem;
}

.new-mens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dark-color-lighten);
  border-radius: .5rem;
  padding: 2rem;
}

.new-mens-img {
  width: 276px;
  margin-bottom: 1.5rem;
}

.new-title {
  font-size: var(--bigger-font-size);
  margin-bottom: .25rem;
}

.new-price {
  display: block;
  margin-bottom: 1.5rem;
}

.new-sneaker {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.new-sneaker-content {
  position: relative;
  padding: 3.5rem 1.5rem;
  background-color: var(--dark-color-lighten);
  border-radius: .5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.new-sneaker-img {
  width: 220px;
}

.new-sneaker-overlay {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(138, 138, 138, .3);
  transition: .3s;
}

.new-sneaker-content:hover .new-sneaker-overlay {
  bottom: 0;
}

/*=============== NEWSLETTER ===============*/
.newsletter-container {
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: 2rem .5rem;
  border-radius: .5rem;
  text-align: center;
}

.newsletter-title {
  font-size: var(--bigger-font-size);
  margin-bottom: 1rem;
}

.newsletter-description {
  margin-bottom: 2.5rem;
}

.newsletter-form {
  display: flex;
  column-gap: .5rem;
  background-color: var(--white-color);
  padding: .5rem;
  border-radius: .5rem;
}

.newsletter-input {
  outline: none;
  border: none;
  width: 90%;
  font-size: var(--normal-font-size);
}

.newsletter-input::placeholder {
  color: var(--dark-color);
  font-family: var(--body-font);
  font-size: var(--smaller-font-size);
  font-weight: 600;
}

/*=============== FOOTER ===============*/
.footer-container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.footer-box {
  margin-bottom: 2rem;
}

.footer-title {
  font-size: var(--big-font-size);
}

.footer-link {
  display: block;
  width: max-content;
  margin-bottom: .5rem;
}

.footer-social {
  font-size: 1.5rem;
  margin-right: 1.25rem;
}

.footer-copy {
  padding-top: 3rem;
  font-size: var(--smaller-font-size);
  color: var(--dark-color-light);
  text-align: center;
}

/*========== MEDIA QUERIES ==========*/
@media screen and (min-width:576px) {
  .collection-container {
    grid-template-columns: 415px;
  }

  .collection-img {
    width: 260px;
  }

  .offer-container {
    grid-template-columns: max-content max-content;
  }

  .offer-img {
    width: 270px;
  }

  .offer-data {
    text-align: center;
  }

  .new-mens {
    align-items: center;
  }
}

@media screen and (min-width:768px) {
  body {
    margin: 0;
  }

  section {
    padding: 7rem 0 3rem;
  }

  .section-title::after {
    width: 76px;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav-menu {
    margin-left: auto;
  }

  .nav-list {
    display: flex;
  }

  .nav-item {
    margin-left: 3rem;
    margin-bottom: 0;
  }

  .nav-toggle {
    display: none;
  }

  .home-container {
    height: 80vh;
    grid-template-columns: max-content max-content;
    align-items: center;
    justify-content: center;
  }

  .home-content {
    order: 1;
  }

  .home-shape {
    width: 376px;
    height: 376px;
  }

  .home-img {
    width: 470px;
    bottom: 9rem;
  }

  .newsletter-container {
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
    padding: 4.5rem 2rem;
    column-gap: 3rem;
  }

  .newsletter-description {
    margin-bottom: 0;
  }

  .newsletter-form {
    width: 360px;
    height: max-content;
  }
}

@media screen and (min-width:1024px) {
  .bd-grid {
    margin: 0 auto;
  }

  .home-container {
    column-gap: 8rem;
  }

  .collection-container {
    grid-template-columns: repeat(2, 415px);
  }

  .new-container {
    grid-template-columns: repeat(2, 500px);
  }

  .new-mens {
    align-items: initial;
    justify-content: flex-end;
    padding: 4rem 2rem;
  }

  .new-mens-img {
    margin-bottom: 3rem;
  }

  .offer-img {
    right: 15.8rem;
  }
}

@media screen and (max-width:1024px) {
  .offer-img {
    right: 1rem;
  }
}
